flows (1).json
[
    {
        "id": "1fa00de81d31fa54",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0bdea6939303e008",
        "type": "mqtt in",
        "z": "1fa00de81d31fa54",
        "name": "Temperature",
        "topic": "TEMPERATURE_MED_YASIRU",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5698786a385e05ee",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 80,
        "wires": [
            [
                "251fdfc6e46b2211",
                "6709ca7d37e72091"
            ]
        ]
    },
    {
        "id": "251fdfc6e46b2211",
        "type": "ui_gauge",
        "z": "1fa00de81d31fa54",
        "name": "",
        "group": "adfb9ff1ab0faa9e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{payload}}",
        "min": "-40",
        "max": "80",
        "colors": [
            "#8aeef5",
            "#48cb57",
            "#cc0f22"
        ],
        "seg1": "20",
        "seg2": "60",
        "diff": false,
        "className": "",
        "x": 450,
        "y": 120,
        "wires": []
    },
    {
        "id": "6709ca7d37e72091",
        "type": "ui_chart",
        "z": "1fa00de81d31fa54",
        "name": "",
        "group": "adfb9ff1ab0faa9e",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperature vs Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#097479",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 500,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "ef56b3427a8b7203",
        "type": "ui_switch",
        "z": "1fa00de81d31fa54",
        "name": "Main Switch",
        "label": "switch",
        "tooltip": "",
        "group": "a367432217a1b766",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 650,
        "y": 320,
        "wires": [
            [
                "23261d1bf9b75303"
            ]
        ]
    },
    {
        "id": "23261d1bf9b75303",
        "type": "mqtt out",
        "z": "1fa00de81d31fa54",
        "name": "",
        "topic": "MAIN-ON-OFF",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5698786a385e05ee",
        "x": 920,
        "y": 320,
        "wires": []
    },
    {
        "id": "1dbacba5349b8f19",
        "type": "change",
        "z": "1fa00de81d31fa54",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "isScheduled",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 520,
        "wires": [
            [
                "974b40e48167e9e6"
            ]
        ]
    },
    {
        "id": "5e6233dd8d856932",
        "type": "ui_date_picker",
        "z": "1fa00de81d31fa54",
        "name": "",
        "label": "ON",
        "group": "e299e376d06449ff",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "payload",
        "topicType": "msg",
        "className": "",
        "x": 370,
        "y": 600,
        "wires": [
            [
                "277cdfd7cb6feeac"
            ]
        ]
    },
    {
        "id": "904206a4f087c6e0",
        "type": "ui_text_input",
        "z": "1fa00de81d31fa54",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "e299e376d06449ff",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "payload",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 380,
        "y": 680,
        "wires": [
            [
                "94612aebac81f46e"
            ]
        ]
    },
    {
        "id": "277cdfd7cb6feeac",
        "type": "change",
        "z": "1fa00de81d31fa54",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "scheduledDate",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 600,
        "wires": [
            [
                "974b40e48167e9e6"
            ]
        ]
    },
    {
        "id": "94612aebac81f46e",
        "type": "change",
        "z": "1fa00de81d31fa54",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "scheduledTime",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 680,
        "wires": [
            [
                "974b40e48167e9e6"
            ]
        ]
    },
    {
        "id": "974b40e48167e9e6",
        "type": "function",
        "z": "1fa00de81d31fa54",
        "name": "function 6",
        "func": "let isScheduled=global.get(\"isScheduled\");\nlet scheduledDate = global.get(\"scheduledDate\");\nlet scheduledTime = global.get(\"scheduledTime\");\n\nif (isScheduled && scheduledDate && scheduledTime){\n    let schedule = scheduledDate + scheduledTime;\n\n    if (Date.now()>schedule){\n        return {\n            payload: \"OLDER\"\n        }\n    }else{\n        return {\n            payload: schedule\n        }\n    }\n}\nelse if (isScheduled===false){\n    return {\n        payload: \"NOT-SCHEDULED-ON\"\n    }\n}\nelse{\n    return{\n        payload: null\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 600,
        "wires": [
            [
                "132027c82588de57"
            ]
        ]
    },
    {
        "id": "132027c82588de57",
        "type": "switch",
        "z": "1fa00de81d31fa54",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "NOT-SCHEDULED-ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OLDER",
                "vt": "str"
            },
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 970,
        "y": 600,
        "wires": [
            [
                "aebc7bf7caff0d8a"
            ],
            [
                "f6f987a6ee58cc1f"
            ],
            [
                "c65a6afcd8ce5997"
            ],
            [
                "1a9ef7a33ce682e9"
            ]
        ]
    },
    {
        "id": "aebc7bf7caff0d8a",
        "type": "function",
        "z": "1fa00de81d31fa54",
        "name": "function 7",
        "func": "return{\n    payload: \"NOT\"\n}\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 520,
        "wires": [
            [
                "1559a09fb3bde943"
            ]
        ]
    },
    {
        "id": "c65a6afcd8ce5997",
        "type": "function",
        "z": "1fa00de81d31fa54",
        "name": "function 8",
        "func": "return{\n    payload: Math.round(msg.payload/1000)\n}\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 580,
        "wires": [
            [
                "1559a09fb3bde943",
                "bd9c71b07113f454"
            ]
        ]
    },
    {
        "id": "f6f987a6ee58cc1f",
        "type": "function",
        "z": "1fa00de81d31fa54",
        "name": "function 9",
        "func": "return{\n    payload: \"Please enter a future time\"\n}\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 660,
        "wires": [
            [
                "db89fcaa610ee5b6"
            ]
        ]
    },
    {
        "id": "db89fcaa610ee5b6",
        "type": "ui_toast",
        "z": "1fa00de81d31fa54",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1450,
        "y": 680,
        "wires": []
    },
    {
        "id": "1a9ef7a33ce682e9",
        "type": "function",
        "z": "1fa00de81d31fa54",
        "name": "function 10",
        "func": "return{\n    payload: \"Please enter a valid date and time\"\n}\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 520,
        "wires": [
            [
                "db89fcaa610ee5b6"
            ]
        ]
    },
    {
        "id": "596304a5403df2de",
        "type": "ui_switch",
        "z": "1fa00de81d31fa54",
        "name": "Schedule Switch",
        "label": "switch",
        "tooltip": "",
        "group": "e299e376d06449ff",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 520,
        "wires": [
            [
                "1dbacba5349b8f19"
            ]
        ]
    },
    {
        "id": "1559a09fb3bde943",
        "type": "mqtt out",
        "z": "1fa00de81d31fa54",
        "name": "",
        "topic": "ADMIN-SCH-ON",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5698786a385e05ee",
        "x": 1450,
        "y": 500,
        "wires": []
    },
    {
        "id": "d64f9f042c5ee879",
        "type": "mqtt in",
        "z": "1fa00de81d31fa54",
        "name": "ESP-ON-OFF",
        "topic": "ADMIN-MAIN-ON-OFF-ESP",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5698786a385e05ee",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 320,
        "wires": [
            [
                "a20a964277f83efb"
            ]
        ]
    },
    {
        "id": "0d1b9913f4d25d87",
        "type": "mqtt in",
        "z": "1fa00de81d31fa54",
        "name": "SCH-ESP-ON",
        "topic": "SCH-ESP-ON",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5698786a385e05ee",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 500,
        "wires": [
            [
                "8bf0dc15b3a2e2a8"
            ]
        ]
    },
    {
        "id": "8bf0dc15b3a2e2a8",
        "type": "function",
        "z": "1fa00de81d31fa54",
        "name": "function 11",
        "func": "\nreturn {\n    payload: msg.payload===1\n};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 580,
        "wires": [
            [
                "596304a5403df2de"
            ]
        ]
    },
    {
        "id": "3da3e89208aa6a83",
        "type": "mqtt in",
        "z": "1fa00de81d31fa54",
        "name": "Light intensity",
        "topic": "LIGHT_INT_MED_YASIRU",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5698786a385e05ee",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 920,
        "wires": [
            [
                "255067b610ec335d",
                "3df68976d5ea2253"
            ]
        ]
    },
    {
        "id": "255067b610ec335d",
        "type": "ui_gauge",
        "z": "1fa00de81d31fa54",
        "name": "",
        "group": "aec5975599843f99",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{payload}}",
        "min": "0",
        "max": "1",
        "colors": [
            "#8aeef5",
            "#148034",
            "#af1818"
        ],
        "seg1": ".4",
        "seg2": ".6",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 860,
        "wires": []
    },
    {
        "id": "3df68976d5ea2253",
        "type": "ui_chart",
        "z": "1fa00de81d31fa54",
        "name": "",
        "group": "aec5975599843f99",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Light intensity vs Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#097479",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 720,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "e14497cdcb964e2a",
        "type": "ui_slider",
        "z": "1fa00de81d31fa54",
        "name": "",
        "label": "Minimum Angle",
        "tooltip": "",
        "group": "a6ab9ea48d8c1571",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "120",
        "step": 1,
        "className": "",
        "x": 240,
        "y": 1240,
        "wires": [
            [
                "07d1ed79640f4d41"
            ]
        ]
    },
    {
        "id": "c086f9a310829c75",
        "type": "ui_slider",
        "z": "1fa00de81d31fa54",
        "name": "",
        "label": "Controlling Factor",
        "tooltip": "",
        "group": "a6ab9ea48d8c1571",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1",
        "step": "0.01",
        "className": "",
        "x": 250,
        "y": 1160,
        "wires": [
            [
                "b6baebd5ef1db12a"
            ]
        ]
    },
    {
        "id": "07d1ed79640f4d41",
        "type": "mqtt out",
        "z": "1fa00de81d31fa54",
        "name": "minangle",
        "topic": "MINIMUM-ANG-YASIRU",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5698786a385e05ee",
        "x": 480,
        "y": 1240,
        "wires": []
    },
    {
        "id": "b6baebd5ef1db12a",
        "type": "mqtt out",
        "z": "1fa00de81d31fa54",
        "name": "controlfactor",
        "topic": "CONTROL-FAC-YASIRU",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5698786a385e05ee",
        "x": 490,
        "y": 1160,
        "wires": []
    },
    {
        "id": "b0abd2c405128984",
        "type": "mqtt in",
        "z": "1fa00de81d31fa54",
        "name": "Maximum light intensity",
        "topic": "MAX-LIGHT-INTENSITY-YASIRU",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dd26c4d0a4e42756",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1000,
        "y": 880,
        "wires": [
            [
                "0f442878d1aa7dad"
            ]
        ]
    },
    {
        "id": "0f442878d1aa7dad",
        "type": "ui_text",
        "z": "1fa00de81d31fa54",
        "group": "aec5975599843f99",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Max light intensity",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1330,
        "y": 900,
        "wires": []
    },
    {
        "id": "bd9c71b07113f454",
        "type": "debug",
        "z": "1fa00de81d31fa54",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 580,
        "wires": []
    },
    {
        "id": "911a0c95680c9e83",
        "type": "ui_dropdown",
        "z": "1fa00de81d31fa54",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "a6ab9ea48d8c1571",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Tablet A",
                "value": "A",
                "type": "str"
            },
            {
                "label": "Tablet B",
                "value": "B",
                "type": "str"
            },
            {
                "label": "Tablet C",
                "value": "C",
                "type": "str"
            },
            {
                "label": "Custom",
                "value": "Manual",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 240,
        "y": 1080,
        "wires": [
            [
                "6be92ddbbb716e30"
            ]
        ]
    },
    {
        "id": "6be92ddbbb716e30",
        "type": "mqtt out",
        "z": "1fa00de81d31fa54",
        "name": "dropdon",
        "topic": "DROP-DOWN-YASIRU",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9ff73abcf71f3426",
        "x": 460,
        "y": 1080,
        "wires": []
    },
    {
        "id": "a20a964277f83efb",
        "type": "function",
        "z": "1fa00de81d31fa54",
        "name": "function 12",
        "func": "if(msg.payload == 1){\n    return {\n        payload:\"1\"\n    }\n}\nelse{\n    return{\n        payload:\"0\"\n    }\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 320,
        "wires": [
            [
                "ef56b3427a8b7203"
            ]
        ]
    },
    {
        "id": "3871e16177e9ef44",
        "type": "ui_spacer",
        "z": "1fa00de81d31fa54",
        "name": "spacer",
        "group": "e299e376d06449ff",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "29f54c3d8ff29c83",
        "type": "ui_spacer",
        "z": "1fa00de81d31fa54",
        "name": "spacer",
        "group": "adfb9ff1ab0faa9e",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "5698786a385e05ee",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org/",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "adfb9ff1ab0faa9e",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "bafbba5121f34554",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a367432217a1b766",
        "type": "ui_group",
        "name": "Main Switch",
        "tab": "bafbba5121f34554",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e299e376d06449ff",
        "type": "ui_group",
        "name": "Schedule",
        "tab": "bafbba5121f34554",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aec5975599843f99",
        "type": "ui_group",
        "name": "Light Intensity",
        "tab": "bafbba5121f34554",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a6ab9ea48d8c1571",
        "type": "ui_group",
        "name": "Shade Controller",
        "tab": "bafbba5121f34554",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dd26c4d0a4e42756",
        "type": "mqtt-broker",
        "name": "Light",
        "broker": "https://test.mosquitto.org/",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9ff73abcf71f3426",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org/",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "bafbba5121f34554",
        "type": "ui_tab",
        "name": "Medibox",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]